
<head>
<title>Portal Grande Colorado</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link href="style.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="css/banner.css">


</head>
<body>


<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="logo">
        <h1><a href="index.html"><span></span></a></h1>
      </div>
      <div class="menu_nav">
        <ul>
     <!--      <li class="active"><a href="index.html">Home</a></li>
          <li><a href="#">Contato</a></li>
 -->
        </ul>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
      <div class="header_img">
<p> </p><p> </p><p> </p>
        <p> </p><p> </p><p> </p><p> </p>
        <p> </p><p> 
 
        <div class="clr"></div>
      </div>
    </div>
  </div>




  <div class="clr"></div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
 
 <!-- BUSCA INICIO -->
<center>
    <div class="search">
          <form id="form" name="form" method="post" action="#">
            <span>
            <input name="q" type="text" class="keywords" id="textfield" maxlength="50" value="" />
            <input name="b" type="image" src="images/search.gif" class="button" />
            </span>
          </form>
        </div>
</center>
<!-- BUSCA FIM -->


<!-- Categoria -->
<br><br><br>

 <img src="images\icones\grande\cart.png" align="center"><h3>&nbsp Alimentação e Bebidas</h3>   

<br>
        </div>
        <div class="article">

        </div>
<!-- Categoria -->


<!-- CONTEUDO INICIO -->















<!-- CONTEUDO FIM -->

<!-- INICIO SIDEBAR -->
      </div>
      <div class="sidebar">
       
        <br>
        <div class="gadget">
          <h2>Regiões</h2>
          <div class="clr"></div>
          <ul class="sb_menu">
            <li><a href="#">- Grande Colorado</a></li>
            <li><a href="#">- Sobradinho I e II</a></li>
            <li><a href="#">- Região dos Lagos</a></li>
            <li><a href="#">- DF 425</a></li>

          </ul>
        </div>  
        <div class="gadget">


<div style="width:100%; height:35px; margin-bottom:20px;">
<div style="display: inline-table; width:100%; border:none">
<div style="float:left; width:auto; height:auto; border-bottom:solid 12px #2f3b66;">
<h2 style="margin:0px; font-weight:normal; font-size:16pt;">Guia de Serviços</h2>
</div>
</div>
<div style="display: inline-table; width:100%; height:5px; border-top:dashed 1px #2f3b66; text-align:left;"><img src="images/seta_titulo_azul2.png" style="margin-left:10px;"></div>
</div>


          <br>
          <div class="clr"></div>
          <ul class="ex_menu">

      
              <li> <a href="alimentacao.html"> <img src="images\icones\cart.png" align="center">&nbsp Alimentação e Bebidas</a></li><hr>    
                    <li> <a href="#"> <img src="images\icones\dog.png" align="center">&nbsp Animais e Cia</a></li><hr>
                    <li><a href="#"> <img src="images\icones\arte.png" align="center">&nbsp Arte e Cultura</a></li><hr>
                    <li><a href="#"><img src="images\icones\house.png" align="center">&nbsp Associações/Entidades</a></li><hr>
                  
                    <li><a href="#"><img src="images\icones\car.png" align="center">&nbsp Automóveis e CIA</a></li><hr>

                    <li><a href="#"><img src="images\icones\money-bag.png" align="center">&nbsp Bancos e Seguradoras</a></li><hr>
                    <li><a href="#"><img src="images\icones\lipstick.png" align="center">&nbsp Beleza e Estéticas</a></li><hr>
                    <li><a href="#"><img src="images\icones\coffee.png" align="center">&nbsp Cafés e Docerias</a></li><hr>
                    <li><a href="#"><img src="images\icones\wheelbarrow.png" align="center">&nbsp Casa e Construção</a></li><hr>

                    <li><a href="#"><img src="images\icones\baby.png" align="center">&nbsp Criança e Bebê</a></li><hr>
                    <li><a href="#"><img src="images\icones\bicycle.png" align="center">&nbsp Diversão e Lazer</a></li><hr>
                    <li><a href="#"><img src="images\icones\checklist.png" align="center">&nbsp Educação</a></li><hr>
                    <li><a href="#"><img src="images\icones\man.png" align="center">&nbsp Serviços</a></li><hr>
                    <li><a href="#"><img src="images\icones\running.png" align="center">&nbsp Esportes e Fitness</a></li><hr>
                   
                    <li><a href="#"><img src="images\icones\balloons.png" align="center">&nbsp Festas e Eventos</a></li><hr>
                    <li><a href="#"><img src="images\icones\hotel.png" align="center">&nbsp Hospedagem e Turismo</a></li><hr>
                    <li><a href="#"><img src="images\icones\store.png" align="center">&nbsp Lojas e Comércios</a></li><hr>
                    <li><a href="#"><img src="images\icones\hospital.png" align="center">&nbsp Medicina e Saúde</a></li><hr>
                    <li><a href="#"><img src="images\icones\cutlery.png" align="center">&nbsp Restaurantes e Bares</a></li><hr>
                    <li><a href="#"><img src="images\icones\editor.png" align="center">&nbsp Tecnologia e Informática</a></li><hr>
                    <li><a href="#"><img src="images\icones\attachment.png" align="center">&nbsp Utilidade Pública</a></li><hr>
                    <li><a href="#"><img src="images\icones\shirt.png" align="center">&nbsp Vestuário</a></li><hr>
                    </p>
                  
               
          </ul>
        </div>
      </div>

<!-- FIM SIDEBAR -->


      
       <!-- INICIO FOOTER -->
      <div class="clr"></div>
    </div>
  </div>
  <div class="fbg">
    <div class="fbg_resize">
      <div class="col c1">
        <h2><span>Parceiros</span></h2>
        <a href="#"><img src="images/gallery_1.jpg" width="58" height="58"/></a> <a href="#"><img src="images/gallery_2.jpg" width="58" height="58" alt="" /></a> <a href="#"><img src="images/gallery_3.jpg" width="58" height="58" alt="" /></a> <a href="#"><img src="images/gallery_4.jpg" width="58" height="58" alt="" /></a> <a href="#"><img src="images/gallery_5.jpg" width="58" height="58" alt="" /></a> <a href="#"><img src="images/gallery_6.jpg" width="58" height="58" alt="" /></a> </div>
      <div class="col c2">
        <h2><span><a href="anuncie.html">Anuncie Aqui!</a></span></h2>
        <p><a href="contato.html">Fale Conoso </a><br/>
          Alguém está procurando por sua<br> Empresa neste exato momento!</p>
      </div>
      <div class="col c3">
        <h2><span>Contato</span></h2>
        <a href="mailto:contato@portalgrandecolorado.com.br" target="_OUT">contato@portalgrandecolorado.com.br</a>
 


  <table >
  <tbody>
    <tr>
      <td> <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5561991424946"><img src="images/whatsapp.png" align="center"></a></td>
      <td><font color="white" size="2"><a href="https://api.whatsapp.com/send?1=pt_BR&phone=5561991424946">Fale direto pelo Whatsapp:</a></font><br><h4><a href="https://api.whatsapp.com/send?1=pt_BR&phone=5561991424946">(61) 99142-4946</a></h4></td>
    </tr>
  </tbody>
</table>

      </div>
      <div class="clr"></div>
    </div>
    <div class="footer">
      <p class="lr">Copyright &copy; 2018 <a href="index.html">Portal Grande Colorado</a> - Desenvolvido por <a href="videovisual.com.br">videovisual.com.br</a>
     
      <div class="clr"></div>
    </div>
  </div>
</div>

 <!-- FIM FOOTER -->



</body>
</html> 