<div class="header">
    <div class="header_resize">
        <div class="logo">
            <h1>
                <a href="index.html">
                    <span></span>
                </a>
            </h1>
        </div>
        <div class="menu_nav">
            <ul>
            </ul>
            <div class="clr"></div>
        </div>
        <div class="clr"></div>
        <div class="header_img">
            <p> </p>
            <p> </p>
            <p> </p>
            <p> </p>
            <p> </p>
            <p> </p>
            <p> </p>
            <p> </p>
            <p>
                <div class="clr"></div>
            </p>
        </div>
    </div>
</div>