<div class="mainbar">
  <div class="article">
    <img ng-src="{{categoria.icone}}" align="center">
    <h3>&nbsp {{categoria.nome}}</h3>
    <br>
  </div>
  <div class="article">
      <a href="../views/anuncie.html">
        <img src="../images/formato_anuncio_arranhaceu.png" style="float:right;width:160px;height:600px;">
      </a>
  </div>
  
  <!--<div class="clr"></div>-->
  <center>
    <table id="subcategorias">
      <tr ng-repeat="subcat in subcategorias">
        <td>
          <a ui-sref="app.subcategorias({id: subcat.id})"><img src="..\images\play-button.png">{{subcat.nome}}</a>
        </td>
      </tr>
    </table>
  </center>
  <br>
  <div class="clr"></div>
  <div style="width:100%; height:35px; margin-bottom:20px;">
    <div style="display: inline-table; width:100%; border:none">
      <div style="float:left; width:auto; height:auto; border-bottom:solid 12px #2f3b66;">
        <h2 style="margin:0px; font-weight:normal; font-size:16pt;">Destaques - {{categoria.nome}}:</h2>
      </div>
    </div>
    <div style="display: inline-table; width:100%; height:5px; border-top:dashed 1px #2f3b66; text-align:left;">
      <img src="../images/seta_titulo_azul2.png" style="margin-left:10px;">
    </div>
    <br>
    <div class="gallery" ng-repeat="catsEmp in destaques">
      <a ui-sref="app.empresa({id: catsEmp.empresaId})">
        <img ng-src={{catsEmp.empresa.logo}} alt="Trolltunga Norway" width="300" height="200">
      </a>
      <div class="desc">
        <b>{{catsEmp.empresa.nome}}</b>
        <br>{{catsEmp.empresa.descricao}}</div>
    </div>
  </div>

  <div style="width:100%; height:35px; margin-bottom:20px;">
    <div style="display: inline-table; width:100%; border:none; margin-top:5px;" ng-repeat="emp in empresasCategoria">
        <a ui-sref="app.empresa({id: emp.empresaId})"><img ng-src={{emp.empresa.logo}} height="50">{{emp.empresa.nome}} - {{emp.empresa.telefone}}</a>
    </div>
  </div>
</div>