<br>
<div class="article">
    <h2>
        <b>Dados da Empresa</b>
    </h2>
</div>
<br>

<div class="media">
    <img class="align-self-start mr-3" ng-src={{empresa.logo}} width="30%">
    <div class="media-body">
        <h5 class="mt-0">{{empresa.nome}}</h5>
        <p align="justify">{{empresa.descricao}}</p>
    </div>
</div>

<div class="list-group">
    <b<p class="list-group-item"><img src="images/empresa-gps.png"> Endereço: {{empresa.endereco}}</p></b>
    <p class="list-group-item"> <img src="images/empresa-phone.png"> Telefones: {{empresa.telefone}}</p>
    <p class="list-group-item"><img src="images/empresa-phone.png"> Celular: {{empresa.celular}}</p>
    <p class="list-group-item"><img src="images/empresa-www.png"> Site: {{empresa.site}}</p>
    <p class="list-group-item"><img src="images/empresa-email.png"> E-mail: {{empresa.email}}</p>
    <p class="list-group-item"><img src="images/empresa-facebook.png"> Facebook: {{empresa.facebook}}</p>
    <p class="list-group-item"><img src="images/empresa-instagram"> Instagram: {{empresa.instagram}}</p>
    <p class="list-group-item"><img src="images/empresa-twitter.png"> Twitter: {{empresa.twitter}}</p>



    <br>
    <!-- GALLERIA -->
    <!--
            <div class="container gallery-container">
                <div class="tz-gallery">
    
                    <a class="lightbox" href="images/loja01.jpg">
                        <img src="images/loja01.jpg" width="30%">&nbsp
                    </a>
    
                    <a class="lightbox" href="images/loja01.jpg">
                        <img src="images/loja01.jpg" width="30%">&nbsp
                    </a>
    
                    <a class="lightbox" href="images/loja01.jpg">
                        <img src="images/loja01.jpg" width="30%">&nbsp
                    </a>
                    <br>
                    <br>
                    <a class="lightbox" href="images/loja01.jpg">
                        <img src="images/loja01.jpg" width="30%">&nbsp
                    </a>
    
                    <a class="lightbox" href="images/loja01.jpg">
                        <img src="images/loja01.jpg" width="30%">&nbsp
                    </a>
    
                    <a class="lightbox" href="images/loja01.jpg">
                        <img src="images/loja01.jpg" width="30%">
                    </a>
    
                </div>
            </div>
        -->
</div>
