<!-- INICIO FOOTER -->
<div class="fbg">
    <div class="fbg_resize">
        <div class="col c1">
            <h2>
                <span>Parceiros</span>
            </h2>
            <a href="#">
                <img src="images/gallery_1.jpg" width="58" height="58" />
            </a>
            <a href="#">
                <img src="images/gallery_2.jpg" width="58" height="58" alt="" />
            </a>
            <a href="#">
                <img src="images/gallery_3.jpg" width="58" height="58" alt="" />
            </a>
            <a href="#">
                <img src="images/gallery_4.jpg" width="58" height="58" alt="" />
            </a>
            <a href="#">
                <img src="images/gallery_5.jpg" width="58" height="58" alt="" />
            </a>
            <a href="#">
                <img src="images/gallery_6.jpg" width="58" height="58" alt="" />
            </a>
        </div>
        <div class="col c2">
            <h2>
                <span>
                    <!--<a href="views\anuncie.html">Anuncie Aqui!</a>-->
                    <a ui-sref="app.anuncieaqui">Anuncie Aqui!</a>
                </span>
            </h2>
                    <h4><a href="views\quemsomos.html">Quem somos nós?</a></h4>
            <p>
          
                <br/> Alguém está procurando por sua
                <br> Empresa neste exato momento!
            </p>
        </div>
        <div class="col c3">
            <h2>
                <span>Contato</span>
            </h2>
            <a href="mailto:contato@portalgrandecolorado.com.br" target="_OUT">contato@portalgrandecolorado.com.br</a>
            <img src="images\facebook.png"> <img src="images\instagram.png">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5561991424946">
                                <img src="images/whatsapp.png" align="center">
                            </a>
                        </td>
                        <td>
                            <font color="white" size="2">
                                <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5561991424946">Fale direto pelo Whatsapp:</a>
                            </font>
                            <br>
                            <h4>
                                <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5561991424946">(61) 99142-4946</a>
                            </h4>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clr"></div>
    </div>
    <div class="footer">
        <p class="lr">Copyright &copy; 2018
            <a href="index.html">Portal Grande Colorado</a> - Desenvolvido por
            <a href="videovisual.com.br">videovisual.com.br</a>
            <div class="clr"></div>
    </div>
</div>
<!-- FIM FOOTER -->
